@model List<CustomerModel>
@{
    ViewData["Title"] = "Customer";
    int count = 1;
}
<h3>Customers</h3>
<table>
    <thead>
        <tr>
            <th></th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone No</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CustomerModel item in Model)
        {
            <tr>
                <td>
                    <a href="" class="btn btn-outline-warning">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </td>
                <td scope="row">@(++count)</td>
                <td scope="row">@item.CustomerName</td>
                <td scope="row">@item.PhoneNo</td>
                <td scope="row">@item.DateOfBirth</td>
                <td scope="row">@item.Gender</td>
            </tr>
        }
    </tbody>
</table>
